In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
trainc=train.copy()
testc=test.copy()

In [4]:
trainc.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [5]:
testc.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [6]:
trainc.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [7]:
testc.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [8]:
print(trainc['Product_Category_2'].mode())
print(trainc['Product_Category_3'].mode())

0    8.0
dtype: float64
0    16.0
dtype: float64

In [9]:
#filling categorical var
trainc['Product_Category_2']=trainc['Product_Category_2'].apply(lambda x: str(x).replace('nan','8.0'))
trainc['Product_Category_3']=trainc['Product_Category_3'].apply(lambda x: str(x).replace('nan','16.0'))

In [10]:
#filling categorical var
testc['Product_Category_2']=testc['Product_Category_2'].apply(lambda x: str(x).replace('nan','8.0'))
testc['Product_Category_3']=testc['Product_Category_3'].apply(lambda x: str(x).replace('nan','16.0'))

In [11]:
trainc.Product_Category_3=trainc.Product_Category_3.astype(object)
testc.Product_Category_3=testc.Product_Category_3.astype(object)

In [12]:
trainc.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [13]:
testc.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
dtype: int64

In [14]:
trainc.dtypes

User_ID                        int64
Product_ID                    object
Gender                        object
Age                           object
Occupation                     int64
City_Category                 object
Stay_In_Current_City_Years    object
Marital_Status                 int64
Product_Category_1             int64
Product_Category_2            object
Product_Category_3            object
Purchase                       int64
dtype: object

In [15]:
from sklearn.preprocessing import LabelEncoder
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
trainc['Gender'] = label_encoder.fit_transform(trainc['Gender'])
trainc['City_Category'] = label_encoder.fit_transform(trainc['City_Category'])

In [16]:
from sklearn.preprocessing import LabelEncoder
# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
testc['Gender'] = label_encoder.fit_transform(testc['Gender'])
testc['City_Category'] = label_encoder.fit_transform(testc['City_Category'])

In [17]:
np.unique(testc['Age'])

array(['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+'],
      dtype=object)

In [18]:
np.unique(trainc['Stay_In_Current_City_Years'])

array(['0', '1', '2', '3', '4+'], dtype=object)

In [19]:
np.unique(testc['Stay_In_Current_City_Years'])

array(['0', '1', '2', '3', '4+'], dtype=object)

In [20]:
import random
for i in range(len(trainc['Stay_In_Current_City_Years'])):
    if trainc['Stay_In_Current_City_Years'][i]=='4+':
        trainc['Stay_In_Current_City_Years'][i]=random.randint(4,10)

<ipython-input-20-02131b736d15>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Stay_In_Current_City_Years'][i]=random.randint(4,10)

In [21]:
import random
for i in range(len(testc['Stay_In_Current_City_Years'])):
    if testc['Stay_In_Current_City_Years'][i]=='4+':
        testc['Stay_In_Current_City_Years'][i]=random.randint(4,10)

<ipython-input-21-36f1f7639edb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Stay_In_Current_City_Years'][i]=random.randint(4,10)

In [22]:
trainc['Stay_In_Current_City_Years']

0         2
1         2
2         2
3         2
4         4
         ..
550063    1
550064    3
550065    4
550066    2
550067    4
Name: Stay_In_Current_City_Years, Length: 550068, dtype: object

In [ ]:
#age column filtering for trainning set

In [23]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='0-17':
        trainc['Age'][i]=random.randint(0,17)

<ipython-input-23-c3a96eab454a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(0,17)

In [24]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='18-25':
        trainc['Age'][i]=random.randint(18,25)

<ipython-input-24-0a31cdd6b864>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(18,25)

In [25]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='26-35':
        trainc['Age'][i]=random.randint(26,35)

<ipython-input-25-0848d6e17561>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(26,35)

In [26]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='36-45':
        trainc['Age'][i]=random.randint(36,45)

<ipython-input-26-1fbedacd46ad>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(36,45)

In [27]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='46-50':
        trainc['Age'][i]=random.randint(46,50)

<ipython-input-27-f200d7bf5d3c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(46,50)

In [28]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='51-55':
        trainc['Age'][i]=random.randint(51,55)

<ipython-input-28-86fe6c4f75cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(51,55)

In [29]:
for i in range(len(trainc['Age'])):
    if trainc['Age'][i]=='55+':
        trainc['Age'][i]=random.randint(55,75)

<ipython-input-29-301725237ade>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainc['Age'][i]=random.randint(55,75)

In [30]:
trainc['Age']

0         10
1          0
2          9
3         14
4         57
          ..
550063    51
550064    27
550065    30
550066    71
550067    48
Name: Age, Length: 550068, dtype: object

In [31]:
#for test set
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='0-17':
        testc['Age'][i]=random.randint(0,17)

<ipython-input-31-68619f2a4287>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(0,17)

In [32]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='18-25':
        testc['Age'][i]=random.randint(18,25)

<ipython-input-32-b42901aaf1cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(18,25)

In [33]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='26-35':
        testc['Age'][i]=random.randint(26,35)

<ipython-input-33-81006283aab2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(26,35)

In [34]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='36-45':
        testc['Age'][i]=random.randint(36,45)

<ipython-input-34-55b0c9861479>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(36,45)

In [35]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='46-50':
        testc['Age'][i]=random.randint(46,50)

<ipython-input-35-f0ef1fa3ac1d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(46,50)

In [36]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='51-55':
        testc['Age'][i]=random.randint(51,55)

<ipython-input-36-455a71f9f934>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(51,55)

In [37]:
for i in range(len(testc['Age'])):
    if testc['Age'][i]=='55+':
        testc['Age'][i]=random.randint(55,75)

<ipython-input-37-79e54875c972>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testc['Age'][i]=random.randint(55,75)

In [38]:
trainc

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,10,10,0,2,0,3,8.0,16.0,8370
1,1000001,P00248942,0,0,10,0,2,0,1,6.0,14.0,15200
2,1000001,P00087842,0,9,10,0,2,0,12,8.0,16.0,1422
3,1000001,P00085442,0,14,10,0,2,0,12,14.0,16.0,1057
4,1000002,P00285442,1,57,16,2,4,0,8,8.0,16.0,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,1,51,13,1,1,1,20,8.0,16.0,368
550064,1006035,P00375436,0,27,1,2,3,0,20,8.0,16.0,371
550065,1006036,P00375436,0,30,15,1,4,1,20,8.0,16.0,137
550066,1006038,P00375436,0,71,1,2,2,0,20,8.0,16.0,365
550067,1006039,P00371644,0,48,0,1,4,1,20,8.0,16.0,490

In [39]:
testc

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,1,47,7,1,2,1,1,11.0,16.0
1,1000009,P00113442,1,34,17,2,0,0,3,5.0,16.0
2,1000010,P00288442,0,44,1,1,4,1,5,14.0,16.0
3,1000010,P00145342,0,43,1,1,6,1,4,9.0,16.0
4,1000011,P00053842,0,27,1,2,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,0,28,15,1,10,1,8,8.0,16.0
233595,1006036,P00254642,0,34,15,1,7,1,5,8.0,16.0
233596,1006036,P00031842,0,34,15,1,4,1,1,5.0,12.0
233597,1006037,P00124742,0,46,1,2,9,0,10,16.0,16.0
233598,1006039,P00316642,0,50,0,1,5,1,4,5.0,16.0

In [40]:
X_train=trainc.iloc[:,2:-1].values
y_train=trainc.iloc[:,-1].values
X_test=testc.iloc[:,2:].values

In [41]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [42]:
X_train.shape

(550068, 9)

In [43]:
X_test.shape

(233599, 9)

In [44]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor1 = LinearRegression()
regressor1.fit(X_train, y_train)
# Predicting the Test set results
y_pred1 = regressor1.predict(X_test)
ev1=regressor1.predict(X_train)

In [ ]:
from sklearn.svm import SVR
regressor2 = SVR(kernel = 'linear')
regressor2.fit(X_train, y_train)
# Predicting the Test set results
y_pred2= regressor2.predict(X_test)
ev2=regressor2.predict(X_train)

In [ ]:
# Fitting SVR to the dataset
from sklearn.svm import SVR
regressor3 = SVR(kernel = 'rbf')
regressor3.fit(X_train, y_train)
# Predicting the Test set results
y_pred3 = regressor3.predict(X_test)
ev3=regressor3.predict(X_train)

In [45]:
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor4 = DecisionTreeRegressor(random_state = 0)
regressor4.fit(X_train, y_train)
# Predicting the Test set results
y_pred4 = regressor4.predict(X_test)
ev4=regressor4.predict(X_train)

In [46]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor5 = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor5.fit(X_train, y_train)
# Predicting the Test set results
y_pred5 = regressor5.predict(X_test)
ev5=regressor5.predict(X_train)

In [47]:
from sklearn.metrics import mean_squared_error
import math
#classification report
#accuracy
from sklearn import metrics
print("model source:",regressor1.score(X_train,y_train))
#print("model source:",regressor2.score(X_train,y_train))
#print("model source:",regressor3.score(X_train,y_train))
print("model source:",regressor4.score(X_train,y_train))
print("model source:",regressor5.score(X_train,y_train))

model source: 0.13088320420572597
model source: 0.9011273138217966
model source: 0.8593738727876401

In [48]:
sf=pd.DataFrame(y_pred4,columns=['Purchase'])
df = pd.concat([sf['Purchase'],test.User_ID,test.Product_ID], axis=1)

In [49]:
df

        Purchase  User_ID Product_ID
0        19576.0  1000004  P00128942
1        13262.0  1000009  P00113442
2         8695.0  1000010  P00288442
3         3432.0  1000010  P00145342
4          764.0  1000011  P00053842
...          ...      ...        ...
233594    7033.0  1006036  P00118942
233595    5186.0  1006036  P00254642
233596   19496.0  1006036  P00031842
233597   14248.0  1006037  P00124742
233598    2091.0  1006039  P00316642

[233599 rows x 3 columns]

In [50]:
df.to_csv("submission.csv",index=False)